/* section-Banner */
.banner-area{
    padding: 230px 0;
    margin-bottom: 75px;
    background-image: linear-gradient(100deg,rgb(77,171,255) 0%, rgb(98,221,255) 100%);
    .content-bannerSec{
        align-self: center;
        .content-banner{
            h1{
             color: #fff;
             font:{
                family:$heeb;
                size:52px;
                weight:blod,
            }
             margin-top: 0;
            }
            p{
                color: #fff;
                font-size: 18px;
                margin-top: 30px;
                margin-bottom: 35px;
                letter-spacing: 0.7px;
                
            }
            .btn-banner-area{
                .l-btn{
                    border-radius: 3px;
                    border: 1px solid #ffffff57;
                    padding: 13px 30px;
                    background-color: rgba(255,255,255,.1);
                    color: #fff;
                    text-decoration: none;
                    margin-right: 10px;

                }
                .r-btn{
                    border-radius: 3px;
                    border: 1px solid #ffffff;
                    padding: 13px 30px;
                    background-color: #fff;
                    color:$textColor;
                    text-decoration: none;
                }
            }
        }
    }
   .img-banner-areaSec{
    .img-banner-area{
        img{
            width:100%;
           
        }
    }
   }
}


/* section-Banner */
