.feedback{
    margin-top: 90px;
    margin-bottom: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #EDF6FF;

    .feddback-desc{
        margin-bottom: 20px;
        h3{
            color: $textColor;
            line-height: 45px;
            font-weight: bold;
            font-size: 36px;
            font-family: $heeb;
            margin-bottom: 20px;
        }
        p{
            width: 62%;
            color: #777;
            font-size: 17px;
            margin: auto;
        }
    }
    .feeedback-content{
        padding: 25px;
        background-color: #fff;
        border-radius: 7px;
        .feedback-img{
           padding-bottom: 25px;
          
        }
        .feedback-list{
           align-items: end;
           p{
               color:#ccc;
           }
           i{
               color: #ffc107;;
           }
        }
    }
    
}